body{
	background-color: #eee;
}
.content{
	width: 892px;
	height: 1386px;
	background-color: #fff;
	margin:20px auto;
	padding: 0 44px;
}
.header{
	position: relative;
}
.logo{
	width: 110px;
	height: 61px;
	background-color: #d45d5c;	
}
.logo span{
	color: #fff;
	font-size: 12px;
	font-family: "黑体";
	display: inline-block;
	position: absolute;
	bottom: 2px;
}
.headerLine{
	width: 892px;
	height: 2px;
	background-color: #938e8c;
}
.date{
	font-size: 12px;
	font-family: "黑体";
	color: #d45d5c;
	position: absolute;
	bottom: 2px;
	right: 0;
	display: inline-block;
}
.top{
	margin-top: 35px;
}
.mask1, .mask2{
	width: 191px;
	height: 301px;
	opacity: 0.5;
}
.top-left{
	position: relative;
	width: 641px;
	height: 301px;
	float: left;
}
.mask1{
	background-color: #428d59;
	position: absolute;
	left: 0;
	top: 0;
}
.mask2{
	background-color: #cc7681;
	position: absolute;
	top: 0;
	right: 0;
}
.top-right{
	margin-left: 48px;
	width: 203px;
	height: 301px;
	float: left;
	position: relative;
}
.top-right-line{
	width: 203px;
	height: 2px;
	background-color: #cc8091;
}
.top-right .top-right-header{
	margin: 5px;
}
.top-right-header a{
	color: #000;
	font-size: 24px;
	font-family: "微软雅黑";
	line-height: 40px;
}
.top-right .top-right1{
	 margin: 2px 0;
	 font-size: 5px;
	color: #676767;
	font-family: "楷体";
	line-height: 20px;
}
#num{
	font-size: 100px;
	color: #75b86b;
	font-family: "微软雅黑";
	font-style: italic;
	margin: 0;
}
.bottom-num{
	margin-top: 3px;
}
.left-num{
	font-size: 55px;
	font-family: "微软雅黑";
	color: #cc8091;
	display: inline-block;
	position: absolute;
	bottom: -16px;
	left: 0;
}
.right-num{
	position: absolute;
	bottom: 0;
	margin-left: 5px;
	line-height: 10px;
	margin-left: 80px;
}
.right-num1{
	color: #cc8091;
}
.middle-content{
	width: 641px;
	height: 175px;
	margin-top: 30px;
	font-size: 12px;
}
.mid-cont{
	width: 203px;
	float: left;
	margin-right: 15px;
	margin-top: 30px;
	color: #999;
}
.mid-cont p{
	margin: 10px 0;
}
.what a{
	color: #418c59;
	font-size: 16px;
	font-weight: 800;
}
.when a{
	color: #d2994f;
	font-size: 16px;
	font-weight: 800;
}
.how{
	margin-right: 0;
}
.how a{
	color: #cc7680;
	font-size: 16px;
	font-weight: 800;
}
.how ul{
	list-style-type: none;
	font-size: 14px;
	margin-left: 0;
	padding: 0;
}
.how span{
	font-size: 12px;
	font-family: "微软雅黑";
	font-style: italic;
	opacity: 0.7;
}
.bottom-content{
	width: 100%;
	height: 615px;
}
.bot-left{
	width: 415px;
	float: left;
}
.bot-titile, .bot-tit-chinese{
	font-size: 42px;
	color: #11456b;
	font-family: "黑体";
	font-weight: 800;
}
.tit-stress{
	font-size: 72px;
	color: #f5e327;
	font-style: italic;
}
.bot-tit-chinese{
	font-size: 33px;
	line-height: 50px;
}
.bot-left-line{
	width: 415px;
	height: 2px;
	background-color: #11456b;
}
.bot-left-content{
	padding-top: 20px;
	color: #767777;
	font-size: 12px;
	font-family: "宋体";
}
.bot-left-content p{
	text-indent: 2em;
	margin: 0;
}
#front{
	font-size: 70px;
	color: #f5e327;
	font-family: "微软雅黑";
	float: left;
	margin: 0;
	padding: 0 14px 0 0;
}
#p1{
	text-indent: 0;
}
.bot-right-img{
	height: 257px;
}
.bot-left-content img{
	position: relative;
	top: -325px;
	left: 238px;
}
.bot-right{
	float: left;
	margin-left: 19px;
	overflow: hidden;
}
.bot2-mask{
	width: 458px;
	height: 44px;
	background: rgba(0,0,0,0.4);
	/*opacity: 0.4;*/
	position: relative;
	top: -67px;
	text-align: center;
	color: #72b16a;
	padding: 8px 0;
	font-size: 10px;
	font-style: italic;
}
.bot2-line{
	width: 3px;
	height: 44px;
	background-color: #72b16a;
	display: inline-block;
}
.bot2-titile{
	color: #fff;
	font-size: 32px;
	font-family: "微软雅黑";
	font-style: normal;
	position: relative;
	top: -10px;
}
.bot2-tit1{
	position: relative;
	top: -10px;
}
.bot-right-con{
	width: 458px;
	height: 318px;
	margin-top: 20px;
	background-color: #eeedd6;
}